@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ul {
    @apply pr-4;
  }
  li {
    list-style-type: disc;
  }

  a {
    @apply text-indigo-500;
  }
}
